<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Login System</title>
</head>
<body>
{% extends 'bootstrap/base.html' %}


{% block title %}

User Home Page

{% endblock %}

{% block content%}

<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <h1 class="display-4">Welcome {{session['user-info']['firstName']}}</h1>
    <p class="lead"> <a href="/logout">Logout</a></p>
  </div>
</div>


<div class="text-center border border-light p-5">
    <h2>First Name: {{session['user-info']['firstName']}}</h2>
    <h2>Last Name: {{session['user-info']['lastName']}}</h2>
    <h2>Email: {{session['user-info']['email']}}</h2>
</div>

<!--<div class="container text-center">-->
<!--    {% for message in get_flashed_messages() %}-->
<!--        <p>{{message}}</p>-->
<!--    {% endfor %}-->
<!--</div>-->

<!--<form method="POST" action="" class="text-center border border-light p-5">-->
<!--    <input class="form-control mb-4" type="text" name = "login-email" placeholder="Email">-->
<!--    <input class="form-control mb-4" type="text" name = "login-password" placeholder="Password">-->
<!--    <button type="submit" class="btn btn-info btn-block my-4">Login</button>-->
<!--</form>-->

{% endblock %}
</body>
</html>
